<!-- {% include "header.html" %} -->

<div id="header-container"></div>

<script>
  fetch('header.html')
    .then(res => res.text())
    .then(html => document.getElementById('header-container').innerHTML = html);
</script>

<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"

>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About my future projects</h1>
          <span class="subheading">Here is the list of what I plan to do with Python:</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I plan to prepare a website for time and task management with Python.
        </p>
        <a class="image fit"><img src="static/images/kanban.png" alt="" width="400" height="300" /></a>

        <p>
          I will make a stock market prediction app with Python.
        </p>
        <a class="image fit"><img src="static/images/stock.png" alt="" width="400" height="400" /></a>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
