<!-- {% include "header.html" %} -->

<div id="header-container"></div>

<script>
  fetch('header.html')
    .then(res => res.text())
    .then(html => document.getElementById('header-container').innerHTML = html);
</script>

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"

>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About my hobby projects</h1>
          <span class="subheading">Here is the list of what I want to do as hobby:</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I plan to build a rc autonomous plane controlled by a Python algorithm embedded into Raspberry Pi.
        </p>
        <a class="image fit"><img src="static/images/mustang.png" alt="" width="400" height="500" /></a>

        <p>
          I want to make an internet radio with Python.
        </p>
        <a class="image fit"><img src="static/images/radio.png" alt="" width="400" height="400" /></a>

        <p>
          I plan to make an autonomous drone with Raspberry Pi.
        </p>
        <a class="image fit"><img src="static/images/drone.png" alt="" width="400" height="300" /></a>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
