{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"

>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Python</h1>
          <span class="subheading">Here is the short story of Python Programming Language:</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->

<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Python was created by Guido van Rossum in the late 1980s and was first released in 1991. Van Rossum began
          working on Python as a hobby project while working at CWI in the Netherlands, intending it to be an easy-to-read
          and versatile language, inspired by ABC, a language designed for beginners. He named it after the British comedy
          group "Monty Python."
        </p>
        <p>
          Python grew rapidly due to its simplicity, readability, and support for multiple programming paradigms
          (procedural, object-oriented, and functional). Major versions like Python 2.0 (released in 2000) introduced
          features like list comprehensions and garbage collection. However, Python 3.0 (released in 2008) marked a
          significant overhaul with backward-incompatible changes aimed at improving the language.
        </p>
        <p>
          Today, Python is one of the most popular programming languages globally, used in web development,
          data science, artificial intelligence, automation, and more. Its active community and extensive libraries
          have played a significant role in its widespread adoption.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
